{% extends 'base.html.twig' %}
{% import '_/buttons.html.twig' as buttons %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('vue/waypoints-new') }}
{% endblock %}

{% block title %}New Waypoint{% endblock %}

{% block body %}
    <div class="btn-group float-right">
        {{ buttons.back(path('waypoint_index')) }}
    </div>

    <h1>Create new Waypoint</h1>

    {{ include('waypoint/_form.html.twig') }}
{% endblock %}
